body {
}

#showMap {
    height: 500px;
    width: 98%;
    background-color: #ccc;
    margin-left:auto;
    margin-right:auto;
}
.centerForm{
    margin-top:30px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}
hr{
}
.button {
    background-color: #009cf7;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
input[type=text], select {  
    width: 40%;  
    padding: 12px 20px;  
    margin: 10px 0;  
    display: inline-block;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    box-sizing: border-box;  
}  
